#titulo {
    color: tomato;
}

p.especial {
    color: mediumseagreen;
}

p.texto {
    color: purple; 
}

div p {
    color: aquamarine; 
}

div h2, div h3 {
    color: red; 
}

* { 
    font-size: 24px; 
    color: black; 
}

.color {
    border-style:dotted;
    border-color:rgb(0, 0 , 0);
    border-radius:rgb(0, 0 , 0); 
    border-width: 5px; 
}
 
/* borders
dotted 
dashed 
solid
double 
groove
ridge
inset
outset
none
hidden

/*

/* esto es un comentario */ 
/* div h3 {
    color: blue; 
} */